
<div class="row justify-content-center">
    <div class="col-sm-6">
        <h1 id="tableLabel">Weather forecast</h1>

        <p>This component demonstrates fetching data from the server.</p>

        <p *ngIf="!forecasts"><em>Loading... Please refresh once the ASP.NET backend has started. See <a href="https://aka.ms/jspsintegrationangular">https://aka.ms/jspsintegrationangular</a> for more details.</em></p>

        <table *ngIf="forecasts" class="w-100">
            <thead>
                <tr>
                    <th>Date</th>
                    <th>Temp. (C)</th>
                    <th>Temp. (F)</th>
                    <th>Summary</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let forecast of forecasts">
                    <td>{{ forecast.date }}</td>
                    <td>{{ forecast.temperatureC }}</td>
                    <td>{{ forecast.temperatureF }}</td>
                    <td><badge [text]="forecast.summary.description" [theme]="forecast.summary.theme"></badge></td>
                </tr>
            </tbody>
        </table>
        <div class="d-flex align-items-center mt-3">
            <button type="button" class="btn btn-sm btn-success" (click)="getForecasts()" [disabled]="isLoading">
                Refresh
            </button>
            <div class="spinner-border spinner-border-sm text-primary ms-2" *ngIf="isLoading"></div>
        </div>
    </div>
    <div class="col-sm-3">
        <calendar [month]="4" [year]="2024" [cellModifier]="modifyCalendarCell" (onCellClicked)="calendarCellClicked($event)"></calendar>
    </div>
</div>
